spring:
  application:
    name: Task Management

  datasource:
    url: jdbc:oracle:thin:@//localhost:1521/XEPDB1
    username: AUTH_SERVER
    password: ${DB_PASSWORD}
    driver-class-name: oracle.jdbc.OracleDriver


  jpa:
    show-sql: true
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        dialect: org.hibernate.dialect.OracleDialect

  security:
    user:
      name: disabled
      password: disabled

jwt:
  secret: my-very-long-secret-key-that-is-at-least-32-bytes!
  expiration: 3600000
  refreshExpirationMs: 8640000