:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 8%;
  background-color: #f5f5f5;

}


.hero-text{
  flex: 1;
  max-width: 600px;
}

.hero-text h1{
  font-size: 3.5rem;
  line-height: 1.2;
  color: #333;
  margin-bottom: 1.5rem;
}

.hero-text p{
  font-size: 1.2rem;
  line-height: 1.6;
  color: #888;
  font-weight: 600;
  margin-bottom: 2rem;
}
.btn-about{
  padding: 12px 30px;
  font-size: 1.1rem;
  background-color: #111;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hero-image{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hero-image img{
  max-width: 100%;
  width: 600px;
  height: auto;
  border-radius: 20px;
}
