server:
  servlet:
    context-path: /api/

spring:
  application:
    name: book-library-api

  datasource:
    url: jdbc:oracle:thin:@//localhost:1521/XEPDB1
    username: LIBRARY_SCHEMA
    password: ${DB_PASSWORD}
    driver-class-name: oracle.jdbc.OracleDriver

  jpa:
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        dialect: org.hibernate.dialect.OracleDialect


