<header>
  <nav>
    <div class="logo">
      <a routerLink="/home">
        My Portfolio
      </a>
    </div>

    <ul class="nav-links">
      <li>
        <a routerLink="/about">
          <img src="/images/icons-site-header/about.png" alt="">
          About
        </a>
      </li>
      <li>
        <a routerLink="/project">
          <img src="/images/icons-site-header/projects.png">
          Project
        </a>
      </li>
      <li>
        <a routerLink="/contact">
          <img src="/images/icons-site-header/contact.png">
          Contact
        </a>
      </li>
    </ul>
  </nav>
</header>
