nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  height: 60px;
  background-color: #ffffff;
  border-bottom: 1px solid #f0f0f0;
}

.logo a{
  text-decoration: none;
  gap: 8px;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
  padding: 0;
  margin-right: auto;
  margin-left: auto;

}

.nav-links a{
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.nav-links img{
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.nav-links a:hover {
  color: #666;
}

