
<div class="about-text">
  <h1>About me</h1>
  <p>As a fresh Computer Information Systems graduate and a dedicated Full-Stack Developer, I am passionate about creating clean, functional, and user-centered digital experiences. I specialize in modern frontend technologies like Angular, while also possessing strong backend capabilities using Spring Boot to build robust applications. I am committed to writing maintainable code and building scalable solutions that bridge the gap between user needs and technical functionality.</p>
</div>

<div class="cards-container">
  <div class="custom-card">
    <img src="/images/about/code-icon.png" alt="Languages">
    <div class="card-content">
      <h3>Languages</h3>
      <p>HTML, CSS, JavaScript, Angular, Spring Boot</p>
    </div>
  </div>

  <div class="custom-card">
    <img src="/images/about/edu-icon.png" alt="Education">
    <div class="card-content">
      <h3>Education</h3>
      <p>Bachelor's degree in Computer Information Systems</p>
    </div>
  </div>

  <div class="custom-card">
    <img src="/images/about/project-icon.png" alt="Projects">
    <div class="card-content">
      <h3>Projects</h3>
      <p>Built more than 5 projects</p>
    </div>
  </div>

</div>
