#server:
#  servlet:
#    context-path: /api

spring:
  application:
    name: employee-directory-api
  datasource:
    url: jdbc:oracle:thin:@//localhost:1521/XEPDB1
    username: NOOR
    password: ${DB_PASSWORD}
    driver-class-name: oracle.jdbc.OracleDriver

  jpa:
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        use_sql_comments: true
        format_sql: true
        dialect: org.hibernate.dialect.OracleDialect

  security:
    user:
      name: disabled
      password: disabled

jwt:
  secret: ${SECRET}
  expiration: 3600000
  refreshExpirationMs: 8640000