:host{
  display: block;
  width: 380px;
  margin: 10px;
}

.project-card{
  background: #fff;
  border: 1px solid black;
  border-radius: 16px;
  height: 320px;
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
}

.project-info{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.project-info h3{
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.project-info p{
  font-size: 0.95rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}
.card-footer{
  margin-top: auto; /* هذا السطر هو الذي سيدفع الـ tech والـ button للقاع */
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.project-tech{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 1.2rem;
}

.project-tech span {
  background-color: #f0f0f0;
  color: #444;
  padding: 4px 12px;
  border-radius: 50px;
  font-size: 0.8rem;
  font-weight: 600;
  border: 1px solid #ddd;
}

button {
  width: fit-content;
  background-color: #111;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.github-link {
  display: block;
  padding: 8px 16px;
  color: white;
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: bold;
}
