spring:
  application:
    name: Task Management

  datasource:
    url: jdbc:oracle:thin:@//localhost:1521/XEPDB1
    username: TASK_SCHEMA
    password: ${DB_PASSWORD}
    driver-class-name: oracle.jdbc.OracleDriver


  jpa:
    show-sql: true
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        dialect: org.hibernate.dialect.OracleDialect